.collect-cash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3F3F3F;
    color: #fff;
    text-align: center;
  }
  
  .cash-image {
    width: 200px; 
    margin-bottom: 20px;
  }
  
  .collect-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }