.pinInputContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 8rem;
}

.pinInputContent h2{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
}

.pinInputContent p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 3.5rem 0;
}

/* EnterPin.module.css */
.pinInputContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pinBox {
    width: 80px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    font-size: 3.2rem; /* Font size for the digits */
    text-align: center;
    margin: 0 5px; /* Space between the boxes */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove the default focus outline */
    caret-color: transparent;
}

.pinBox:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007BFF; /* Change border color on focus */
    background-color: #f0f8ff; /* Light background on focus */
}

.pinBox::-webkit-input-placeholder {
    color: transparent; /* Make placeholder transparent */
}
