.mainMenuContainer{
    height: 100%;
    width: calc(100% - 60px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mainMenuHeader{
    display: flex;
    width: 100%;
    justify-content: left;
    flex-direction: column;
}

.mainMenuHeader p{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.mainMenuOptionsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

